section.section.hero
	.hero__bg
		img(src="./assets/img/bg/portfolio.jpg", alt="")
	header.header
		ul.socials
			each item in ['vk','gh','in']
				li.socials__item.social__item_hero
					a(href="" class=`social__link social__link_${item}`)
						svg.socials__icon.socials__icon_fill_white
							use(xlink:href=`./assets/img/sprite/sprite.svg#${item}`)
	
	input(type="checkbox")#menuToggler.input-toggler
	label(for="menuToggler").menu-toggler
		span.menu-toggler__line
		span.menu-toggler__line
		span.menu-toggler__line
	.hamburger__menu
		ul.hamburger__links
			li.hamburger__item
				a(href="works.html").title Мои работы
			li.hamburger__item
				a(href="about.html").title Обо мне
			li.hamburger__item
				a(href="blog.html").title Блог
			li.hamburger__item
				a(href="index.html").title Авторизация
	

	.hero__section
		.hero__title
			.user.hero__user-block
				.user__photo
					img(src="./assets/img/content/user.jpg", alt="").user__photo-img
				.user__name
					| Артур Кармов
				.user__desc
					| Личный сайт разработчика
	svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangles.about__triangles.about__triangles-left
		polygon(points="0,0 0,100 1000,100")
	svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangles.about__triangles.about__triangles-right
		polygon(points="0,100 1000,100 1000,0")