section.section.hero
    
    header.header
        .header__left
            ul.socials
                each item in ['vk','gh','in']
                    li.socials__item
                        a(href="" class=`social__link social__link_${item}`)
                            svg.socials__icon
                                use(xlink:href=`./assets/img/sprite/sprite.svg#${item}`)
                                
        .header__right            
            a(href="")
                svg.hamburger
                    use(xlink:href=`./assets/img/sprite/sprite.svg#hamburger`)
        
        
        
    a(href="").down-arrow
        svg.down-arrow__icon
            use(xlink:href=`./assets/img/sprite/sprite.svg#arrow_down`)
        
        
        
        
        
        
    .hero__title
        img(src="assets/img/decor/portfolio-header.png", alt="").section-title
        .user.hero__user-block
            .user__photo
                .user__photo-avatar
                    img(src="assets/img/content/user.jpg", alt="").user__photo-img
            .user__name
                | Артур Кармов
            .user__desc Личный сайт разработчика
                
