.form.form__login
                .lgoin__title
                    +title('Авторизуйтесь', '', 'subtitle')  
                form.form__auth
                    input(type="text", name="login", placeholder='Логин').login__name
                    input(type="password", name="password", placeholder='Пароль').login__password  