section.section.map
        .map__callback.call-back
            +title('Контакты', '', 'subtitle')   
            ul.map__contacts.contacts 
                li 
                    img(src='assets/img/icons/skype.png', alt="") 
                    p skype_kdn
                li 
                    img(src='assets/img/icons/email.png', alt="") 
                    p astahov@gmail.com
                li 
                    img(src='assets/img/icons/phone.png', alt="") 
                    p +7 931 200 93 24
                li 
                    img(src='assets/img/icons/point.png', alt="") 
                    p г.Новосибирск, ул. Инская, д. 5
        
            