section.section.map 
        .map__contacts.contacts
            +title('Контакты', '', 'subtitle')   
            ul.map_contacts_ul
                li 
                    img(src='assets/img/icons/skype.png', alt="") 
                    p oooAK-69ooo
                li 
                    img(src='assets/img/icons/email.png', alt="") 
                    p Artur69Karmov@gmail.com
                li 
                    img(src='assets/img/icons/phone.png', alt="") 
                    p +7 952 276 08 56
                li 
                    img(src='assets/img/icons/point.png', alt="") 
                    p г.Санкт-Петербург, ул. Парголовская, 11к1
        
        #mapkit-9650
            