section.section.works
        .work__left
            svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangle.triangle_fill_work_white.work__triangles
                polygon(points="0,0 0,100 1000,100")
        .work__right
            svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangle.triangle_fill_work_white.work__triangles
                polygon(points="0,100 1000,100 1000,0")
        .section-title(style="background-image: url('img/decor/works-header.png')")
            | Мои работы