.call-back {
    width: 380px;
    height: 290px;
    background-image: url("../img/content/call-baсk_bg.png");
    background-repeat: no-repeat;
    opacity: 0.85;
    padding: 40px;
}

.contacts
{
    font-family: "Roboto-Medium";
    font-size: 16px;
    opacity: 0.8;
}
.contacts li {
    @extend %clearfix;  
    margin-bottom: 25px;
}
.contacts img
{
    float: left;
    margin-right: 10px;
}

