.contacts {
    padding: 35px 40px;
    font-family: "Roboto-Medium";
    font-size: 16px;
    opacity: 0.8;
    @include centered();
    z-index: 9999;
    
    @include tablets {
        top:0;
        @include centered(x);
    }
}


.contacts li {
    @extend %clearfix;  
    margin-bottom: 20px;
}
.contacts img
{
    float: left;
    margin-right: 10px;
}

