.form
{
    width: 380px;
    height: 395px;
    background-image: url("../img/content/form_bg.png");
    background-repeat: no-repeat;
    border-radius: 5px;
    
    &__photo {
        width: 147px;
        height: 147px;
        border-radius: 50%;
        margin-bottom: 25px;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    
    &__name {
        color: #455a64;
        font-size: 28px;
        font-family: "Roboto-Medium";
        font-weight: bold;
    }
    
    &__desc {
        color: #455a64;
        opacity: 0.8;
        font-family: "Roboto-Regular";
        font-size: 16px;
    }
    
    .socials {
        margin:auto;
        bottom: 85px;
        position: static;
        text-align: center;
        margin-top: 33px;
        
    }
    
    &__nav-menu {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-family: "Roboto-Medium";
        font-size: 16px;
        
        
   
        li {
            border-right: 1px solid #73c8c0;
            border-left: 1px solid #73c8c0;
            width: 33.33333%;
            float: left;
            
            &:first-child { border-left: none;}
            &:last-child  { border-right: none;}
        }
        
        a {
            display:block;
            float: left;
            width: 100%;
            background-color: #07ac98;
            padding: 15px 0;
            text-align: center;
            color: #fff;
            
            &:hover {
                background-color: #098d85;
            }
        }
        
    }
}
