.header { 
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 30px;
	position: absolute;
	top:0px;
	width: 100%;
    z-index: 200;
}



.socials__icon_fill_white {
    fill:#fff;
}