.hero_blog {
    height: 396px;
    overflow: hidden;
    position: relative;
    background-image: url(../img/bg/portfolio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    @include tablets {
        background-image: url(../img/bg/tablets/hero_bg.jpg);
        height: 505px;
    }
    
    
    .subtitle
    {
        display: block;
        font-size: 63px;
        color: #fff;
    }
    
    .hamburger {
        margin-right: 18.33%;
    }
    
    
    .hero__title {
        background-image: none;
    }
    
    
    .title:after, .title:before {
        background-color: #fff;
        opacity: 0.4;
    }
}