.login {
    display: block;
    padding: 13px 27px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-family: "Roboto-Medium";
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    
    &:hover {
        background-color: #fff;
        color:#00bfa5;
    }
}