
.map {
	height: 1074px;
	background: url('../img/content/map.jpg') center center no-repeat;
	background-size: cover;
    position: relative;
    
    @include width_1200 {
        height: 974px;
    }
    
    @include tablets {
        height: 860px;
    }
}

.map__contacts
{
    color: #373e42;
    @include centered(x);
    @include tablets {
    top:177px;
    }
}

.map_contacts_ul
{
    margin-top: 25px;
}