.nav-menu {
	padding: 25px 0;
    
    @include phones {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}
.nav-menu__item {
	display: inline-block;
	margin-right: 30px;
    
	&:last-child {
		margin-right: 0;
	}
    
    @include tablets {
        margin-right: 40px;
    }
    
    @include phones {
        margin-right: 10px;
    }
}

.nav-menu__link {
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}