.slider {
    @extend %clearfix; 
    min-height: 750px;
    height: 100vh;
}

.slider__column {
    width: 50%;
    float: left;
    height: 100%;
    
    &_left
    {
        background-color: #f0efe9;
        position: relative;
        text-align: center;
    }
}


.slider__desc {
    width: 423px;
    height: 252px;
    @include centered();
}

.slider__desc-skills
{
    padding: 19px 0;
    margin-top:40px;
    margin-bottom: 40px;
    border-top:1px solid #acd6ce;
    border-bottom:1px solid #acd6ce;
    font-family: "Roboto-Medium";
    font-size: 16.02px;
    color: #20b5a1;
    text-transform: uppercase;
    font-weight: 500;
}

.slider__desc-btn{
    height: 40px;
    width: 200px;
    background-color: #00bfa5;
    border-radius: 5px;
    margin: auto;
}