.socials {
	position: absolute;
	top:35px;
    left: 30px;

	&_footer {
		position: static;
		display: inline-block;
		padding-top: 20px;

        
        
		.socials__link {
			height: 36px;
			width: 36px;
			position: relative;
			border-radius: 50%;
			border: 1px solid rgba(#9a9d9f, .5);
			display: block;
            

			.socials__icon {
                width: 23px;
                height: 17px;
				@include centered();
			}
		}
	}
    
    &__item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
    
        &:first-child {
            margin-left: 0;
        }
    }
    
    &__icon {
	width: 30px;
	height: 22px;
    fill:#fff;
    opacity: 0.5;
    
        &:hover {
            opacity: 1;
        }
    }
    
    
}

