.socials {

    
    &__item {
	display: inline-block;
	vertical-align: middle;
    
        &:first-child {
            margin-left: 0;
        }
    }
    
    &__icon {
	width: 30px;
	height: 22px;
    fill:#fff;
    opacity: 0.5;
    
        &:hover {
            opacity: 1;
        }
    }
    
}

