



.global_welcome {

}

.form__welcom {
    @include centered();
    overflow: hidden;
    z-index: 999;
}

.welcome__login {
    position: absolute;
    top:24px;
    right: 100px;
    z-index: 888;
}

.welcome__autor {
    @include centered(x);
    bottom: 40px;
    font-family: "Roboto-Light";
    font-size: 16px;
    color:#fff;
}