



.global_welcome {
    background-image: url('../img/bg/welcome_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form__welcom {
    @include centered();
    overflow: hidden;
}

.welcome__login {
    position: absolute;
    top:24px;
    right: 100px;
}

.welcome__autor {
    @include centered(x);
    bottom: 40px;
    font-family: "Roboto-Light";
    font-size: 16px;
    color:#fff;
}