.works-head
{
    height: 185px;
    text-align: center;
    position: relative;
    background-color: #faf8f0;
    
    display: flex;
    justify-content: center;
}

.works__triangles {
    fill:#faf8f0;
}

.work-head__title
{
    
}