$white : #efeee9;
$beige : #eeebdf;
$main-font-color: #373e42;
$work_white : #faf8f0;


//layout setups
@import "layout/setups";
@import "layout/fonts";

//mixins
@import "helpers/mixins";

//Blocks
@import "blocks/hero";
@import "blocks/user";
@import "blocks/section-title";
@import "blocks/down-arrow";
@import "blocks/about";
@import "blocks/triangle";
@import "blocks/title";
@import "blocks/subtitle";
@import "blocks/skills";
@import "blocks/map";
@import "blocks/call-back";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/nav-menu";
@import "blocks/socials";
@import "blocks/works-head";
@import "blocks/slider";
    
