extends ../_template

block title
  - var title = 'about'

block content
    include ../sections/hero
    include ../sections/about           
    include ../sections/map  
    include ../sections/footer
                            
    