extends ../_template

block title
  - var title = 'Blog'

block content
    include ../sections/hero_blog
    
    section.section.blog
        svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangles.blog__triangles.triangles_left
            polygon(points="0,0 0,100 1000,100")
        svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangles.blog__triangles.triangles_right
            polygon(points="0,100 1000,100 1000,0")        
            
        .nav__bar.blog__bar
            ul.nav__bar_ul
                li 
                    a(href="#") самое важное в SASS
                li 
                    a(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
                li 
                    a(href="#") Самый необходимый набор Gulp плагинов
                li 
                    a(href="#") Почему я выбрал pug
        
        
        .blog__articles
            .articles__items
                .articles__title
                    | Самое важное в SASS
                .articles__date
                    | 2 ноября 2016
                .articles__text
                    | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.            Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной  деятельности играет важную роль в формировании систем массового участия.
                    
            .articles__items
                .articles__title
                    | Самое важное в SASS
                .articles__date
                    | 2 ноября 2016
                .articles__text
                    | Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.            Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной  деятельности играет важную роль в формировании систем массового участия.
                    
               
    include ../sections/footer